*Makefile
*Makefile.in
*.deps
*.o
*~

aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
config.*

src/mobile-radio-monitor
src/mrm-resources.h
src/mrm-resources.c
src/mrm-error-types.c
src/mrm-error-types.h

tests/test-graph
