*Makefile
*Makefile.in
*.deps
*.o
*~

aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
config.*

data/es.aleksander.MobileRadioMonitor.pkexec.policy

src/mobile-radio-monitor
src/mrm-resources.h
src/mrm-resources.c
src/mrm-error-types.c
src/mrm-error-types.h
src/mrm-enum-types.c
src/mrm-enum-types.h

tests/test-graph
