[Desktop Entry]
Name=Mobile Radio Monitor
Comment=A monitor for mobile radio environment parameters
TryExec=mobile-radio-monitor
Exec=mobile-radio-monitor
Icon=mobile-radio-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Monitor;